## Handling Imbalanced Dataset
1. Up Smapling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

## set the random seed for reproducibility
np.random.seed(123)

## create a dataFrame with 2 classes
n_samples = 1000
class_0_ratio = 0.9

n_class_0 = int(n_samples * class_0_ratio)    ## float to int typecast
n_class_1 = n_samples - n_class_0

In [2]:
print(n_class_0, n_class_1)

900 100

In [3]:
### CREATE  MY DATAFRAME WITH IMBALANCED DATASET

class_0 = pd.DataFrame({
    'feature_1' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2' : np.random.normal(loc=0, scale=1, size=n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1]*n_class_1
})

In [4]:
class_0, class_1

(     feature_1  feature_2  target
 0    -1.085631   0.551302       0
 1     0.997345   0.419589       0
 2     0.282978   1.815652       0
 3    -1.506295  -0.252750       0
 4    -0.578600  -0.292004       0
 ..         ...        ...     ...
 895   0.238761  -0.003155       0
 896  -1.106386  -0.430660       0
 897   0.366732  -0.146416       0
 898   1.023906   1.160176       0
 899  -0.210056  -0.641512       0

 [900 rows x 3 columns],
     feature_1  feature_2  target
 0    1.699768   2.139033       1
 1    1.367739   2.025577       1
 2    1.795683   1.803557       1
 3    2.213696   3.312255       1
 4    3.033878   3.187417       1
 ..        ...        ...     ...
 95   1.376371   2.845701       1
 96   2.239810   0.880077       1
 97   1.131760   1.640703       1
 98   2.902006   0.390305       1
 99   2.697490   2.013570       1

 [100 rows x 3 columns])

In [5]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [6]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [7]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [8]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## UpSampling

In [9]:
df_majority = df[df['target']==0]
df_minority = df[df['target']==1]

In [10]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\asus\desktop\javaprogramming\pythonprogammingfordatascience\myenv\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\asus\desktop\javaprogramming\pythonprogammingfordatascience\myenv\lib\site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\asus\desktop\javaprogramming\pythonprogammingfordatascience\myenv\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\asus\desktop\javaprogramming\pythonprogammingfordatascience\myenv\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\asus\desktop\javaprogramming\pythonprogammingfordatascience\myenv\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
from sklearn.utils import resample
df_minority_upsampled = resample(
    df_minority,
    replace=True,  ## sample with replacemkent
    n_samples=len(df_majority),
    random_state=42
)

In [12]:
df_minority_upsampled.shape, df_minority.shape

((900, 3), (100, 3))

In [13]:
df_minority_upsampled.tail()

     feature_1  feature_2  target
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

In [14]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [15]:
df_upsampled = pd.concat([df_minority_upsampled, df_majority])

In [16]:
df_upsampled['target'].value_counts()

target
1    900
0    900
Name: count, dtype: int64

In [17]:
df_upsampled.shape

(1800, 3)

## DownSampling

In [18]:
df_majority = df[df['target']==0]
df_minority = df[df['target']==1]

In [19]:
from sklearn.utils import resample
df_majority_downsampled = resample(
    df_majority,
    replace=False,  ## becoz we want to reduce
    n_samples=len(df_minority),
    random_state=42
)

In [20]:
df_majority_downsampled.shape, df_majority.shape

((100, 3), (900, 3))

In [21]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])

In [22]:
df_downsampled.shape

(200, 3)