## Data Encoding
1. Nominal/OHE Encoding
2. Label and Ordinal Encoding
3. Target Guided Ordinal Encoding


### Nominal/OHE Encoding

* OHE(One Hot Encoding) also known as nominal encoding, is a technique ised to represent catagorical data as numeral data,
* which is more suitable for machine learning alorithms.

* In this technique, each category is represented as binary vector where each bit corresponds to a unique catagory.
* **For Example :-** *We have a categorical variable "color" with three possible values(red, green, blue), we can represent it OHE as follows:*

    1. Red: [1,0,0]
    2. Green: [0,1,0]
    3. blue: [0,0,1]

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
## create a simple DataFrame
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'red', 'blue']
})

In [3]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [4]:
### create an instance/Object of OneHotEncoder

encoder = OneHotEncoder()

## perform fit and transform
encoded = encoder.fit_transform(df[['color']]).toarray()

In [5]:
encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [6]:
import pandas as pd 
encoder_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [7]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [8]:
encoder.transform([['blue']]).toarray()

c:\Users\Asus\Desktop\javaProgramming\PythonProgammingForDataScience\myenv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [9]:
## get all features name 
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [10]:
### add the dataframe to its value
pd.concat([df, encoder_df], axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0