## Label Encoding

Label Encoding and Ordinal Encoding are two techniques used to encode categorical data as numerical data<br>
<br>

* **Label Encoding**
Label encoding envolves assigning a unique numerical label to each category in the variable.<br>
The label are usually assigned in alphabetical order or based on the frequency of the catefgories.<br>
<br>

**for Example** : we have a categorical variable "color" with three possible values(red, green, blue). So we represent it using label encoding as follow:

1. Red: 1
2. green: 2
3. blue: 3

In [34]:
import pandas as pd

df = pd.DataFrame({
    'color':['red', 'blue', 'green', 'green', 'red']
})

display(df)

   color
0    red
1   blue
2  green
3  green
4    red

In [35]:
### Label Encoding
from sklearn.preprocessing import LabelEncoder

## create an instance
lbl_encoder = LabelEncoder()

In [36]:
encoded = lbl_encoder.fit_transform(df[['color']])

c:\Users\Asus\Desktop\javaProgramming\PythonProgammingForDataScience\myenv\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
encoded

array([2, 0, 1, 1, 2])

In [38]:
lbl_encoder.transform([['red']])

c:\Users\Asus\Desktop\javaProgramming\PythonProgammingForDataScience\myenv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [39]:
lbl_encoder.transform([['green']])

c:\Users\Asus\Desktop\javaProgramming\PythonProgammingForDataScience\myenv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

## DisAdvantage of LabelEncoder
The model might think red > green > blue, which is not meaningful for nominal data (like colors, cities, etc.).

Many machine learning models (like linear regression or KNN) may treat these integers as numeric values, leading to misleading results.

---

âœ… When is LabelEncoder appropriate?

When your labels do have a true order (ordinal data), like:

['Low', 'Medium', 'High']

## Ordinal Encoding

It is used to encode categorical data that having an intrinsic order or ranking.<br>
In this technique each category is is assigned a numerical value based on its position in the order.
___

**For Example :-** We have a categorical variable "Education level" with four possible values (Hgh School, College, Graduate, Post Graduate). So we represent it using Ordinal Encoding as follow:

1. High school: 1
2. College: 2
3. Graduate: 3
4. Post Graduate : 4

In [40]:
from sklearn.preprocessing import OrdinalEncoder

In [41]:
## create a simple data Frame
import pandas as pd
df = pd.DataFrame({
    'size':['small', 'medium', 'large', 'medium', 'small', 'large']
})

In [42]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [43]:
### create an  Instance of OrdinalEncoder and then fit_ransform()

ord_encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [44]:
ord_encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [45]:
## we can see individual ranks
ord_encoder.transform([['small']])

c:\Users\Asus\Desktop\javaProgramming\PythonProgammingForDataScience\myenv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

In [46]:
ord_encoder.transform([['medium']])

c:\Users\Asus\Desktop\javaProgramming\PythonProgammingForDataScience\myenv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[1.]])

In [47]:
ord_encoder.transform([['large']])

c:\Users\Asus\Desktop\javaProgramming\PythonProgammingForDataScience\myenv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[2.]])