# SQL & SQLite

* SQL (structured Query Language) is a standard Language for  managing and manipulating relational databases.
* SQLite is a self-contained , severless, and zero-configuration database engine that is widely used for embeded database system.


### Features
1. Serverless
2. Self-Contained
3. Zero-Configuration
4. Transactional
5. Single-Database

## Approach to create module
* import the required Module
  1. Establish the connection or Create the connection object with the database using the ***connect()*** function of the sqlite3 module
  2.  Create a cursor object by calling the cursor method of the connction object.
  3.  From table using the CREATE TABLE statement with the ***execute()*** method of the cursor class.

In [49]:
## import SQLite

import sqlite3

# 1. example.db

In [50]:
## create connection object to the database

connection_obj = sqlite3.connect("example.db")

In [51]:
connection_obj

if you want to execute some queries after the connection is being made.<br>For that, a cursor has to be created using the cursor() method on the connection instance

In [52]:
ccursor_obj = connection_obj.cursor()

In [53]:
## drop the example database if already exist

ccursor_obj.execute("DROP TABLE IF EXISTS Employees")

The SQL query to be executed can be written in form of a string, and <br>then executed by calling the execute() method on the cursor object.

In [54]:
## Query for creating Table

table = """
CREATE TABLE Employees(
name VARCHAR(25) NOT NULL,
email VARCHAR(30) NOT NULL,
score INT
);
"""

ccursor_obj.execute(table)

print("Employees table is created")

Employees table is created

In [55]:
## close the connection
connection_obj.close()

print("connection is closed")

connection is closed

## Insert Data

1. ***Only Value*** :<pre>
*INSERT INTO* table_name *VALUES** (val_1, val_2,..., val_N) </pre>
1. ***Column Names and value Both*** : <pre>
                                        *INSERT INTO* table_name(val_1, val_2,..., val_N)
                                        *VALUES* (col_1, col_2, ... col_N) </pre>

# 2. Student_table.db

In [56]:
## SQLite table using only values

## Connecting to sqlite
connect_obj = sqlite3.connect("Student_table.db")

## Creating a cursor object 
cur_obj = connect_obj.cursor()

## creating table

cur_obj.execute("""
Create Table If Not Exists Students(
                name Varchar(25) Not Null, 
                branch Varchar(20) Not Null,
                marks Int      
                );
""")

cur_obj.execute("Delete From Students")

## Queries to INSERT records.
cur_obj.execute("""
                Insert Into Students
                Values("Ram", "CSE", 98)
                """)
cur_obj.execute("""
                Insert Into Students
                Values("Shyam", "ME", 89)
                """) 
cur_obj.execute("""
                Insert Into Students
                Values("Geeta", "EE", 92)
                """) 

# Display data inserted 
print("Data Inserted in the table: ")

rows = cur_obj.execute("Select * From Students")

for row in rows:
    print(row)

# Commit your changes in the database     
connect_obj.commit()

connect_obj.close()

Data Inserted in the table:
('Ram', 'CSE', 98)
('Shyam', 'ME', 89)
('Geeta', 'EE', 92)

# 3. Employee_table.db

In [57]:
import sqlite3

# Establish a connection object to connect SQLite
connection = sqlite3.connect("Employee_table.db")

cursor = connection.cursor()

# Create a table
table = """
Create Table If Not Exists Employee_table(
id INTEGER PRIMARY KEY NOT NULL,
f_name VARCHAR(15) NOT NULL,
l_name VARCHAR(15) NOT NULL,
dept_name TEXT
);
"""
cursor.execute(table)

# Truncate table (delete all rows)
cursor.execute("DELETE FROM Employee_table;")

# Insert data
cursor.execute('''
Insert Into Employee_table(id, f_name, l_name, dept_name)
               Values(101, 'Rahul', 'Sahani', 'CSE')
''')
cursor.execute('''
Insert Into Employee_table(id, f_name, l_name, dept_name)
               Values(102, 'Sonam', 'Khair', 'ME')
''')

# Display data inserted
print("Employee_table is:")

rows = cursor.execute("SELECT * FROM Employee_table")

for row in rows:
    print(row)

connection.commit()
connection.close()

Employee_table is:
(101, 'Rahul', 'Sahani', 'CSE')
(102, 'Sonam', 'Khair', 'ME')

# 4. my_table.db

In [58]:
## EXAMPLE 1  Create My_Table and insert value

import sqlite3 
  
# Connecting to sqlite 
# connection object 
connection_obj = sqlite3.connect('My_Table.db') 
  
# cursor object 
cursor_obj = connection_obj.cursor() 
  
connection_obj.execute("""CREATE TABLE My_Table( 
  Email varchar(255), 
  Name varchar(50), 
  Score int 
  );
                       """) 
  
connection_obj.execute("Delete From My_Table")

connection_obj.execute( 
    """INSERT INTO My_Table (Email,Name,Score) VALUES ("My_Table1@gmail.com","My_Table1",25)""") 
connection_obj.execute( 
    """INSERT INTO My_Table (Email,Name,Score) VALUES ("My_Table2@gmail.com","My_Tablek2",15)""") 
connection_obj.execute( 
    """INSERT INTO My_Table (Email,Name,Score) VALUES ("My_Table3@gmail.com","My_Table3",36)""") 
connection_obj.execute( 
    """INSERT INTO My_Table (Email,Name,Score) VALUES ("My_Table4@gmail.com","My_Table4",27)""") 
connection_obj.execute( 
    """INSERT INTO My_Table (Email,Name,Score) VALUES ("My_Table5@gmail.com","My_Table5",40)""") 
connection_obj.execute( 
    """INSERT INTO My_Table (Email,Name,Score) VALUES ("My_Table6@gmail.com","My_Table6",36)""") 
  
connection_obj.commit()

print("My_Table is created and value is inserted at :")
  
# Close the connection 
connection_obj.close()

My_Table is created and value is inserted at :

### fetchall() :- require a cursor object.

In [59]:
### Fetch all the values from My_Table


# Connecting to sqlite 
# connection object 
connection_obj = sqlite3.connect('My_Table.db') 
  
# cursor object 
cursor_obj = connection_obj.cursor() 
  
# to select all column we will use 
statement = '''SELECT * FROM My_Table'''
  
cursor_obj.execute(statement) 
  
print("All the data of My_Table is :") 
rows = cursor_obj.fetchall() 
for row in rows: 
  print(row) 
  
connection_obj.commit() 
  
# Close the connection 
connection_obj.close()

All the data of My_Table is :
('My_Table1@gmail.com', 'My_Table1', 25)
('My_Table2@gmail.com', 'My_Tablek2', 15)
('My_Table3@gmail.com', 'My_Table3', 36)
('My_Table4@gmail.com', 'My_Table4', 27)
('My_Table5@gmail.com', 'My_Table5', 40)
('My_Table6@gmail.com', 'My_Table6', 36)

In [60]:
## Drop table

conn = sqlite3.connect("My_Table.db")

conn.execute("Drop Table My_Table")

# 5. database.db

In [61]:
## Other Example 2

import sqlite3 

# Connecting to SQLite 
connection_obj = sqlite3.connect('Database.db') 

# Creating a cursor object 
cursor_obj = connection_obj.cursor() 

# Creating table
cursor_obj.execute("""CREATE TABLE IF NOT EXISTS My_database( 
  Email VARCHAR(255), 
  Name VARCHAR(50), 
  Score INT 
);""") 

# Deleting existing data 
cursor_obj.execute("DELETE FROM My_database")

# Inserting all Rows of data
cursor_obj.executemany(
"""INSERT INTO My_database (Email, Name, Score) VALUES (?,?,?)""", [
    ("My_database1@gmail.com", "My_database1", 25),
    ("My_database@gmail.com", "My_database2", 15),
    ("My_database3@gmail.com", "My_database3", 36),
    ("My_database4@gmail.com", "My_database4", 27),
    ("My_database5@gmail.com", "My_database5", 40),
    ("My_database@gmail.com", "My_database6", 36)
])

## Read all the rows
output = cursor_obj.execute("Select * From My_database")
for row in output:
    print(row)

print("My_database is created and values are inserted.")

connection_obj.commit()
# Closing connection 
connection_obj.close()

('My_database1@gmail.com', 'My_database1', 25)
('My_database@gmail.com', 'My_database2', 15)
('My_database3@gmail.com', 'My_database3', 36)
('My_database4@gmail.com', 'My_database4', 27)
('My_database5@gmail.com', 'My_database5', 40)
('My_database@gmail.com', 'My_database6', 36)
My_database is created and values are inserted.

In [62]:
conn = sqlite3.connect("database.db")

conn.execute("Drop Table My_database")